/* IMPORTATION POLICE */

@font-face {
    font-family: Curve;
    src: url("fonts/curve.ttf");
    font-weight:normal;
    font-style:normal;
}



/* CONTENU FULL */
body{


    background-image: url("../img/background.jpg");
    background-size: 1920px;
    background-repeat: no-repeat;

}



/* FOOTER */

.footer{

    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;

    padding: 45px 50px;
    margin-top: 80px;
}

.MenuFooter{

    color:  #8f9296;
    font-size: 14px;
    margin: 0;
}

.FooterMenuLinks{

    font-size:18px;
    font-weight: bold;
    color:  #ffffff;
    margin: 0 0 10px;
    padding: 0;
}